header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 25px 43px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    color: #333;
    text-decoration: none;
    font-size: 24px;
    line-height: 29.26px;
}

.header__menu {
    list-style: none;
    display: flex;
    gap: 44px;
}

.header__menu-item {
}

.header__menu-link {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

.header__menu-link:hover {
    color: #007bff;
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__search-button,
.header__cart-button {
    background: none;
    border: none;
    cursor: pointer;
}

.hero {
    text-align: center;
    padding: 20px 43px;
}

.hero__title {
    color: #333;
    font-size: 36px;
    line-height: 50.4px;
}

.hero__filters {
    display: flex;
    justify-content: space-between;

}

.hero__filter {
    display: flex;
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    line-height: 24px;
}

.hero__nav {
    display: flex;
    gap: 12px;
}

.hero__sorting{
    display: flex;
    gap: 12px;
    align-items: center;
}

.products {
    padding: 30px 43px;
}

.products__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    padding-bottom: 24px;
}

.products__item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #ffffff;
    text-align: center;
}

.products__image {
    width: 100%;
    height: auto;
}

.product__other {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.products__name {
    display: flex;
    color: #333;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
}

.products__price {
    display: flex;
    color: #666;
    font-size: 18px;
    line-height: 27px;
}

.products__button-container {
    display: flex;
    justify-content: center;
}

.products__button {
    padding: 16px 32px;
    background-color: #F9F9F9;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
}

.newsletter {
    display: flex;
    min-height: 521px;
    align-items: stretch;
}

.newsletter__image {
    background: url('../images/join-background.jpg') center center no-repeat;
    background-size: cover;
    flex: 1;
}

.newsletter__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 43px 40px;
}

.newsletter__text {
    align-self: start;
}

.newsletter__title {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 32px;
    line-height: 39.01px;
}

.newsletter__description {
    font-size: 16px;
    line-height: 24px;
}

.newsletter__action {
    align-self: start;
}

.newsletter__button {
    padding: 16px 32px;
    color: #fff;
    background-color: #2A254B;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #2A254B;
    padding: 0px 43px;
    color: #fff;
}

.footer_ {
    display: flex;
    border-bottom: 1px solid #4E4D93;
    padding-top: 58px;
    padding-bottom: 58px;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding-right: 93px;
}

.footer__column {
}

.footer__column--menu {
}

.footer__title {
    text-decoration: none;
    font-size: 16px;
    line-height: 19.5px;
}

.footer__column--nav {
}

.footer__column--list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__column--item {
    text-decoration: none;
}

.footer__column--link {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 19.07px;
}

.footer__column--categories {
}

.footer__column--company {
}

.footer__map {
    flex: 1;
    
}

.footer__map--img {
    width: 100%;
    min-height: 100%;
}

.footer__ {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer__copyright {
    font-size: 14px;
    line-height: 19.07px;
}

.footer__socials {
    display: flex;
    gap: 12px;
    align-items: center;
    list-style-type: none;
}

.footer__socials--link {

}

.footer__socials--img {
}


